$this: 'single';

section.page {
  &.page--#{$this} {
    padding: 10px 0;

    .card {
      border-radius: 0;
      &.#{$this}--comments {
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
