<section class="page page--start">
  <div class="container">
    <div class="row justify-content-center text-center start--stats">
      <div class="col-4 start--stats__item">
        <app-ui-card [detail]="detailPosts"></app-ui-card>
      </div>
      <div class="col-4 start--stats__item">
        <app-ui-card [detail]="detailComments"></app-ui-card>
      </div>
      <div class="col-4 start--stats__item">
        <app-ui-card [detail]="detailUsers"></app-ui-card>
      </div>
    </div>
  </div>
</section>
